{% extends 'NoEscape/basic.html' %}
{% load static %}
{% block css %}
	  @import url('https://fonts.googleapis.com/css?family=Numans');
	.errorlist
    {
        color: red;
    }
	html,body{
	background-image: url('{% static "../static/NoEscape/images/cctv.jpg" %}');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
	}

	container{
	height: 100%;
	display:inline-block;
	}

	.card{
	margin-top: 170px;
	margin-bottom: 170px;
	width: 600px;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 10px;
	background-color: rgba(41,43,44,0.8) !important;
	}

	.card-header{
	padding-top:20px;
	}

	h3{
	color:white;
	}

	label{
	color:white;
	width:120px;
	}

	label,input,textarea{
	display:inline-block;
	}

	.input-group-append span{
	width: 50px;
	height:40px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
	}

	.input-group{
	margin-bottom:15px;
	float:right;
	}

	.submit_btn{
	color: black;
	background-color: #FFC312;
	width: 100px;
	float:right;
	padding:10px 0px;
	margin:10px 0px;
	}

	.submit_btn:hover{
	color: black;
	background-color: white;
	}

	.links{
	margin:10px 0px;
	color: white;
	}

	.links a{
	margin-left: 4px;
	}
	.link a{
	color: #FFC312;
	text-decoration:None;
	}
	.link a:hover{
	color:white;
	}
	.d-flex a{
	color: #FFC312;
	text-decoration:None;
	}
	.d-flex a:hover{
	opacity:0.8;
	}
	.errorlist{
	color:rgb(120, 200, 50);
	}
{% endblock %}
{% block body %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 style="color:#FFC312;">Upload Evidence</h3>
			</div>
			<div class="card-body">
				<form enctype="multipart/form-data" method="POST" action="">
					{% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-append">
							<label>Name </label>
						</div>
					<input type="text" name="name" class="form-control" placeholder="name">

					</div>
					<div class="input-group form-group">
						<div class="input-group-append">
							<label>Phone</label>
						</div>
					<input type="number" name="phone" class="form-control" placeholder="phone number">
					</div>
					<div class="input-group form-group">
						<div class="input-group-append">
							<label>E-mail</label>
						</div>
					<input type="email" name="email" class="form-control" placeholder="email id">
					</div>
					<div class="input-group form-group">
						<div class="input-group-append">
							<label>Upload Video</label>
						</div>
					<input class="errorlist" type="file" name="video" accept="video/*">
					</div>
					<div class="form-group">
						<input type="submit" value="Submit" class="btn submit_btn">
					</div>
				</form>
			</div>
			{% for message in messages %}
				<p class="errorlist">{{message}}</p>
			{% endfor %}

		</div>
	</div>
</div>

{% endblock %}
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>

