#tagline{
    background: #FFE603;
    background: -webkit-linear-gradient(to bottom right, #FFE603 0%, #F017FF 100%);
    background: -moz-linear-gradient(to bottom right, #FFE603 0%, #F017FF 100%);
    background: linear-gradient(to bottom right, #FFE603 0%, #F017FF 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'IBM Plex Sans', sans-serif;
}


#wehaveit{
    background: #E7FF0D;
    background: -webkit-linear-gradient(to right, #E7FF0D 0%, #FF4D17 25%, #0FFFDF 50%, #1CFF0C 100%);
    background: -moz-linear-gradient(to right, #E7FF0D 0%, #FF4D17 25%, #0FFFDF 50%, #1CFF0C 100%);
    background: linear-gradient(to right, #E7FF0D 0%, #FF4D17 25%, #0FFFDF 50%, #1CFF0C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel-item {
    width: 100%;
    height: 540px; /* example */
  }

#about-tagline{
    font-family: 'IBM Plex Sans', sans-serif;
    background: #E7FF0D;
    background: -webkit-linear-gradient(to right, #f5f5f5 0%, #FF4D17 25%, #0FFFDF 50%, #1CFF0C 100%);
    background: -moz-linear-gradient(to right, #E7FF0D 0%, #FF4D17 25%, #0FFFDF 50%, #1CFF0C 100%);
    background: linear-gradient(to right, #E7FF0D 0%, #FF4D17 25%, #0FFFDF 50%, #1CFF0C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    background: radial-gradient(circle, #FFD700 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: black;
    
}

#shop-name{
    font-family: 'IBM Plex Sans', sans-serif;
    background: #E7FF0D;
    font-size:x-large;
    font-weight: bolder;
    background: radial-gradient(circle, #FFD700 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link{
    color: #FFD700;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#contact-us{
    font-family: 'IBM Plex Sans', sans-serif;
    background: #E7FF0D;
    background: -webkit-linear-gradient(to right, #f5f5f5 0%, #FF4D17 25%, #0FFFDF 50%, #1CFF0C 100%);
    background: -moz-linear-gradient(to right, #E7FF0D 0%, #FF4D17 25%, #0FFFDF 50%, #1CFF0C 100%);
    background: linear-gradient(to right, #E7FF0D 0%, #FF4D17 25%, #0FFFDF 50%, #1CFF0C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-mf {
  margin-top: 4rem;
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.php-email-form input, .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.php-email-form input:focus, .php-email-form textarea:focus {
  border-color: #0078ff;
}

.php-email-form input {
  padding: 10px 15px;
}

.php-email-form textarea {
  padding: 12px 15px;
  margin-bottom: 0;
}

.php-email-form button[type="submit"] {
  background: #0078ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.php-email-form button[type="submit"]:hover {
  background: #3393ff;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}