h2 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(8, 8, 8);
font-size: x-large;
font-weight: bold;
text-align:center;
text-shadow: 2px 2px #9490ac;
text-decoration-color: #9490ac;

 }
 body {
   height: 100px;
   background: linear-gradient(
     to right,rgb(253, 77, 77) 0%,rgb(250, 165, 68) 50%,rgb(250, 170, 79) 50%,rgb(226, 196, 115) 100%
   );

 }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
  }
  
  .calculator {
    width: 400px;
    background-color: #212224;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    border-color: aqua;
    box-shadow: 0 20px 50px rgba(149, 164, 238, 0.4);
  }
  .display {
    width: 100%;
  }
  .display input {
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 35px;
  }
  .display input::placeholder {
    color: #9490ac;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
  }
  .buttons input[type="button"] {
    font-size: 20px;
    padding: 17px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
  }
  .buttons input[type="button"]:hover {
    box-shadow: 0 8px 25px #000d2e;
  }
  input[type="button"]#equal {
    grid-row: span 2;
    background-color: #78787a;
  }
  input[type="button"][value="0"] {
    grid-column: span 2;
  }

  